{% load static %}<!doctype html >
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    {% block css %}
        {# Bootstrap #}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        }
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block nav %}{% endblock %}
        {% block content %}{% endblock content %}
        {% block footer %}{% endblock %}
    {% endblock body %}
    {% block js %}
    {# Bootstrap JS #}
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'>
    {% endblock %}
</body>
</html>