# Django Config
PORT=8120
ENV=dev
DJANGO_SETTINGS_MODULE=project.envs.dev
PYTHONIOENCODING=utf-8
DJANGO_SECRET_KEY=Fhfe%mQfaCv{7Pp4C6VAp6xV>(FT]TBFWPVKjZHJGFX36VdYHrCwo.jCmx

# Project
WEBSITE_DOMAIN=example.com
WEBSITE_NAMESPACE=example

WEBSITE_ADMIN_NAME=Admin Name
WEBSITE_ADMIN_EMAIL=admin@example.com
WEBSITE_FRIENDLY_NAME=Example Website
WEBSITE_FROM_EMAIL=notifications@example.com

# Services and Infrastructure
POSTGRES_DB=project
POSTGRES_USER=postgres

# These should be identical
POSTGRES_PASSWORD=your_secure_postgres_password
PGPASSWORD=your_secure_postgres_password
